*{
	list-style-type: none;
	
}

p{
	font-family: 'Roboto', sans-serif;
}

ul{
	padding-left: 0rem;
}

h1{
	font-size: 1.5rem;
	color: #5697C4;
	font-family: 'Open Sans Condensed', sans-serif;
}

h2{
	font-size: 1.2rem;
	color: #406F91;
	font-family: 'Open Sans Condensed', sans-serif;
}

h3{
	color: #1E3545;
	font-weight: bold;
	margin-top: 1rem;
	font-size: 1rem;
	font-family: 'Open Sans Condensed', sans-serif;
}

hr{
	border-top-color: rgba(30, 53, 69, 0.5)
}

#geral{
	margin: 3rem auto;
}


.jobTitle{
	font-weight: bold;
	color: #5697C4;
	position: relative;
	display: block;
	font-family: 'Open Sans Condensed', sans-serif;
}

.jobTitle::after{
	position: absolute;
	left: -10px;
	top: 0;
	height: 2rem;
	border-left: 2px solid #5697C4;
	content: "";
}

.timeStamp{
	position: absolute;
	right: 0;
	top: 0;
	text-align: right
}

