:root{
	--main-color: #9466FA;
	--secondary-color: #6CC7F0;
	--highlight-color: #5EDBC4;
	--light-color: #e9e9e9;
	--dark-color: #232323;
	--light-color-transparent: #e9e9e9e9;
}

*{
	list-style-type: none;
	
}

p, li{
	font-family: 'Nunito Sans', sans-serif;
}

ul{
	padding-left: 0rem;
}

body{
	background: var(--light-color);
}

section{
	padding-top: 1.5rem;
}

.bg-light{
	background-color: var(--light-color-transparent) !important;
}

.navbar-nav{
	justify-content: space-between;
	width: 100%;
}

#inicio{
	background-image: url(img/bg01.jpg);
	background-position: center;
	background-size: cover;
	min-height: 80vh;
	display: flex;
	align-items: center;
	transition: background-image 2s ease;
}

img#profileImg{
	border-radius: 50%;
	box-shadow: -4px -4px 0 0 var(--highlight-color), 4px 4px 0 0 var(--main-color);
	position: relative;
	display: block;
}
#headerInfos hr{
	background-color: var(--main-color);
}

#headerInfos h1.display-4{
	font-size: 36pt;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: var(--main-color);
	background: transparent;
}

#headerInfos h1.display-4::before{
	display: none;
}


#headerInfos h2.display-4{
	font-size: 20pt;
	font-family: 'Assistant', sans-serif;
	font-weight: 600;
	color: var(--light-color);
}

#headerInfos p{
	color: var(--light-color);
}


#habilidades h2{
	font-family: 'Montserrat' !important;
	font-weight: bold !important;
}

#habilidades .skillBar{
	display: flex;
	align-items: center;
	margin: 0 0 1rem;
	background-color: #fff;
	justify-content: center;
	border-radius: 1rem;
	position: relative;
	overflow: hidden;
	height: 1.3rem;
}

#habilidades .skillBar span[style]{
	display: block;
	width: 50%;
	height: 100%;
	background-color: var(--secondary-color);
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	
}

#habilidades .skillBar span:not([style]){
	position: absolute;
	width: 100%;
	height: 100%;
	top: -1px;
	text-align: center;
	vertical-align: center;
}

:not(#headerInfos) > h1{
	
	color: var(--main-color);
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	position: relative;
	padding: 0.5rem 0;
	width: fit-content;
	margin-bottom: 1.6rem;
}

:not(#headerInfos) > h2{
	font-size: 1.2rem;
	font-family: 'Assistant', sans-serif;
	font-weight: 600;
}

:not(#headerInfos) > h3{
	font-weight: bold;
	margin-top: 1rem;
	font-size: 1rem;
	font-family: 'Assistant', sans-serif;
}

.companyImg{
	width: 100%;
	border-radius: 100%;
}

.jobTitle{
	font-weight: bold;
	color: var(--main-color);
	position: relative;
	display: block;
	font-family: 'Assistant', sans-serif;
}

.timeStamp{
	position: absolute;
	right: 0;
	top: 0;
	text-align: right
}

footer{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
}

@media(max-width: 768px){
	img#profileImg{
		max-width: 100vh;
		text-align: center;
	}
}