body{
    background: #e9e9e9;
}

header{
    padding: 2rem 0 1rem;
}

#playersArea{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.player{
    margin: 1rem 0;
    font-size: 1.5rem;
}

.player span{
    display: block;
    min-width: 1.5rem;
    text-align: center;
    flex: 1;
}

.player button{
    background: #9466FA;
    border: 0;
    border-radius: 8px;
    color: #fff;
    padding: 8px;
    width: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-weight: bold;
}

.player button i{
    font-size: 1rem;
}

.avatar-wrapper{
	position: relative;
	height: 64px;
	width: 64px;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 1px 1px 15px -5px black;
	transition: all .3s ease;
}
.avatar-wrapper:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.avatar-wrapper:hover .profile-pic{
    opacity: .5;
}
.avatar-wrapper .profile-pic {
    height: 100%;
    width: 100%;
    transition: all .3s ease;
}
.avatar-wrapper .profile-pic:after{
    font-family: FontAwesome;
    content: "\f007";
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 190px;
    background: #ecf0f1;
    color: #34495e;
    text-align: center;
}
.avatar-wrapper .upload-button {
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
}
.avatar-wrapper .fa-arrow-circle-up{
    position: absolute;
    font-size: 234px;
    top: -17px;
    left: 0;
    text-align: center;
    opacity: 0;
    transition: all .3s ease;
    color: #34495e;
}
.avatar-wrapper .fa-arrow-circle-up:hover .fa-arrow-circle-up{
    opacity: .9;
}

